* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    background-color: rgba(253, 240, 234, 255);
    width: 100%;
    padding: 15px 0;
    border-radius: 10px;
}



.logo, .btn-login {
    flex: 1;
}


.logo {
    width: 200px;
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-link {
    flex: 2;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
}

.header-link a {
    color: black;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 15px;

}

.Button{
    padding-top: 15px;
}


.btn-login {
    background-color: peru;
    border-radius: 15px;
    padding: 10px;
}


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.Landing-page {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
  
}

.Landing-page .Title h1{
    font-size: 50px;
}

.container{
    display: flex;
    margin-bottom: 50px;
}

.Question h4{
    padding-left: 130px;
    padding-top: 15px;
}

.item img{
    padding-bottom: 15px;
    }.item h5{
        padding-bottom: 15px;
    }

    
    footer{
        background-color: rgb(253, 240, 234);
        position: relative;
        width: 500%;
        border-radius: 10px;
    }

.Bas {
    padding: 50px;
}